
.container{
    display: flex;
    background: lightblue;
    text-align: center;
    font-size: 25px;
    font-weight:bolder;
    height: 50px;
    padding: 12px;
    margin: 0 auto
}
.item{
    padding: 10px;
    background-color: rgb(255, 167, 167);
    height: 25px;
    margin: 0px 20px;
    flex: 1;
    border: 2px solid red;
}

.container-2{
    box-sizing: border-box;
    margin:50px auto;
    background-color: lightblue;
    height: 500px;
    padding:24px;
}

.item-2{
    background-color: rgb(255, 167, 167);
    height: 450px;   
}

.container-3{
    display: flex;
    background: lightblue;
    height: 50px;
    padding: 12px;
    margin: 0 auto
}

.item-3{
     padding: 10px;
    background-color: rgb(255, 167, 167);
    height: 25px;
    margin: 0px 20px;
    flex: 1;
    border: 2px solid red;
}

.item-3-1{
    background-color: rgb(255, 167, 167);
    flex:2;
    margin: 0px 20px ;
    border: 2px solid red;
}